@using Newtonsoft.Json
<style>
.rz-fileupload-buttonbar {
background-color: white !important;
}
</style>
<RadzenText style="color: rgb(10, 10, 178); margin-top: 1.5rem; font-weight: bold; margin-bottom: 1rem;"
Text="@TextDisplay" />
<RadzenCard Variant="Variant.Filled">
@for (int i = 0; i < listFile.Count(); i++)
{
<Link file="@listFile[i]" Id="@listFile.IndexOf(listFile[i])"
OnDeleteFile="@(arg => deleteFile((int)arg))" />
}
@if (btnUploadVisibale)
{
<RadzenUpload Url="upload/multiple" Multiple="true" Progress="@((args) => OnProgress(args, "Đang tải lên:"))" Complete="@(arg => Complete(arg.RawResponse))"
ChooseText="Chọn file">
</RadzenUpload>
}
<div style="display: flex; justify-content: center; align-items: center;">
<Waiting Message="Xin đợi.." LoadingProgress="@loadingProgress" ShowStatusWait="@showStatusWait"/>
</div>
</RadzenCard>

@code {

[Parameter] public List<FileUpload> listFile { get; set; } = new List<FileUpload>();
[Parameter] public bool btnUploadVisibale { get; set; } = false;
[Parameter] public string TextDisplay { get; set; } = "";
[Parameter] public EventCallback<List<FileUpload>> listFileChanged { get; set; }
bool showStatusWait = true;
int loadingProgress;
//string moreInfo;
void OnProgress(UploadProgressArgs args, string name)
{
/////////////////////////
//Hiển trị trạng thái đợi
showStatusWait = true;
/////////////////////////

//this.moreInfo = $"%'{name}'/ {args.Loaded} of {args.Total} bytes.";
this.loadingProgress = args.Progress;
}
protected async void Complete(string urls)
{

List<FileUpload> listUrls = JsonConvert.DeserializeObject<List<FileUpload>>(urls) ?? new List<FileUpload>();
listFile.AddRange(listUrls);
await listFileChanged.InvokeAsync(listFile);

///////////////////////////////
//Hết hiển thị trạng thái đợi
showStatusWait = false;
StateHasChanged();
////////////////////////////

}

protected async void deleteFile(int id)
{
listFile.RemoveAt(id);
await listFileChanged.InvokeAsync(listFile);
}
}