@page "/DangKyGiaoTrinh"
@using System.Globalization
@using QLCongViec.Components.FileManager
@using Minio
@using Minio.DataModel
@using Minio.DataModel.Args
@using QLCongViec.Models
@using api.Models.QLBienSoan
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime
@inject NotificationService notificationService
@inject DialogService DialogService
@inject ApiServices apiService
@inject AuthenServices authService
@inject LinkService linkService
@inject FileService fileService
@inject MinioService minioService
@inject NavigationManager navigation
<style>
    .rz-textbox {
        width: 100%;
    }

    .rz-dialog-titlebar {
        margin-left: 20px;
    }
</style>
<style>
    fieldset {
        border: 2px solid #dedede;
        border-radius: 5px;
        padding: 0px 25px 30px 25px;
        */ margin-bottom: 10px;
        margin-top: 0px;
    }

    .filebox-fieldset {
        border: 2px solid #dedede;
        border-radius: 5px;
        padding: 10px 13px 10px 13px;
        margin-bottom: 40px; /* Lề dưới dày hơn */
        margin-top: 0px;
    }

</style>
<style>
    .form-wrapper{
        border: 2px solid #dedede;
        border-radius: 10px;
        padding: 20px 10px 10px 10px !important;
        margin-top: 8px !important;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    
</style>

<Waiting Show="@isLoading" Message="Đang tải dữ liệu..." />
<Form TItem="tbGTTL" Record="@giaoTrinhTaiLieu" OnSubmit="Submit">
    <MoreForms>

        <div style="margin-top:16px;margin-left: 16px;margin-bottom: 35px;display:block;line-height: 0.3;" class="rz-label">
           <h2>Đăng ký quản lý sáng kiến / cải tiến</h2>
           <tr>Vui lòng điền đầy đủ thông tin để đăng ký đề xuất biên soạn giáo trình/tài liệu</tr>
       </div>
        <fieldset>

                <RadzenLabel Text="1. Tên giáo trình/Tài liệu *"
                             Style="margin-top:16px;display:block;" />
                <FormField Text="Tên giáo trình tài liệu" Size="12">
                    <RadzenTextBox @bind-Value="giaoTrinhTaiLieu.TenGTTL" Style="width: 100%;" />
                </FormField>

            <RadzenRow Style="margin-top:16px; display:block;">
                <RadzenColumn Size="6">
                    <RadzenLabel Text="2. Loại hình biên soạn *" />
                    <FormField Text="--Chọn loại hình--">
                        <RadzenDropDown AllowClear="true"
                                        Data="@lstLoaiHinh"
                                        ValueProperty="IdNhomLoaiGTTL"
                                        TextProperty="LoaiGTTL"
                                        @bind-Value="giaoTrinhTaiLieu.IdNhomLoaiGTTL"
                                        Style="width: 100%;" />
                    </FormField>
                </RadzenColumn>

                <RadzenColumn Size="6">
                    <RadzenLabel Text="3. Học phần/Môn học dự kiến sử dụng *" />
                    <FormField Text="--Chọn môn học--">
                        <RadzenDropDown AllowClear="true"
                                        Data="@lstMonHoc"
                                        ValueProperty="IdMonHocGTTL"
                                        TextProperty="GhiChu"
                                        @bind-Value="giaoTrinhTaiLieu.IdMonHoc"
                                        Style="width: 100%;" />
                    </FormField>
                </RadzenColumn>
            </RadzenRow>

            <RadzenLabel Text="4. Trình độ áp dụng *"
                             Style="margin-top:16px;display:block;" />
                <FormField Text="--Chọn trình độ" Size="12">
                    <RadzenDropDown AllowClear="true"
                                    Data="@lstBacHoc"
                                    ValueProperty="IdBacHocSuDungGTTL"
                                    TextProperty="BacHocSuDungGTTL"
                                    @bind-Value="giaoTrinhTaiLieu.IdBacHocSuDungGTTL"
                                    Style="width: 100%;" />
                </FormField>

                <RadzenLabel Text="5. Đơn vị đề xuất"
                             Style="margin-top:16px;display:block;" />
                <FormField Text="Đơn vị đề xuất" Size="12">
                    <RadzenDropDown AllowClear="true"
                                    Data="@lstDonVi"
                                    ValueProperty="IdDonVi"
                                    TextProperty="DonVi"
                                    @bind-Value="giaoTrinhTaiLieu.IdDonVi"
                                    Style="width: 100%;" />
                </FormField>

                <RadzenLabel Text="6. Chủ biên dự kiến *"
                             Style="margin-top:16px;display:block;" />
                <FormField Text="Chủ biên dự kiến" Size="12">
                    <RadzenTextBox @bind-Value="giaoTrinhTaiLieu.ChuBien" Style="width: 100%;" />
                </FormField>

                <RadzenLabel Text="7. Thành viên" 
                     Style="margin-top:16px;display:block;" />
                <FormField Text="Thành viên tham gia" Size="12">
                    <RadzenTextBox @bind-Value="giaoTrinhTaiLieu.ThanhVien" Style="width: 100%;" />
                </FormField>

        </fieldset>
    </MoreForms>
</Form>

@code {
    // SỦA Ở ĐÂY
    [Parameter] public tbGTTL Record { get; set; }
    bool isLoading = false;
    tbGTTL giaoTrinhTaiLieu = new tbGTTL();

    // List dropdown data - cần lấy từ API hoặc mock data ở đây
    List<tbNhomLoaiGTTL> lstLoaiHinh = new List<tbNhomLoaiGTTL>();
    List<tbMonHocGTTL> lstMonHoc = new List<tbMonHocGTTL>();
    List<tbBacHocSuDungGTTL> lstBacHoc = new List<tbBacHocSuDungGTTL>();
    List<tbDonVi> lstDonVi = new List<tbDonVi>();


    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        await Task.Delay(100);
        giaoTrinhTaiLieu = (Record == null || Record.IdGTTL == 0) ? giaoTrinhTaiLieu : Record;

        lstLoaiHinh = await apiService.GetAll<tbNhomLoaiGTTL>();
        lstMonHoc = await apiService.GetAll<tbMonHocGTTL>();
        lstBacHoc = await apiService.GetAll<tbBacHocSuDungGTTL>();
        lstDonVi = await apiService.GetAll<tbDonVi>();

        isLoading = false;
    }

    protected async Task Submit(tbGTTL giaoTrinhTaiLieu)
    {
        IDC.Frontend.Services.ActionResult.ActionResult.CreationResult result;

        giaoTrinhTaiLieu.IdGTTL = await client.numServices.GetInt<tbGTTL>("seq_tbGTTL");
        result = await apiService.Create<tbGTTL>(giaoTrinhTaiLieu);
        

        if (result.Success)
        {
            notificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Thành công",
                Detail = "Lưu thông tin giáo trình/tài liệu thành công.",
                Duration = 4000
            });
            navigation.NavigateTo("/DanhSachDeXuatGt");
        }
        else
        {
            notificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Lỗi",
                Detail = "Đã có lỗi xảy ra trong quá trình lưu thông tin.",
                Duration = 4000
            });
        }
    } 
}
